
/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-todo-list-block {

	.addtodo-form {
		display: flex;
		margin-top: 30px;

		input {
			height: 36px;
		}

		button {
			margin-left: 10px;
		}
	}
}
